{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
 <fieldset class="layui-elem-field layui-field-title atitle">
  <legend>添加信息查询</legend>
</fieldset>

<div class="layui-form-item">
  <div class="layui-inline">
    <label class="layui-form-label">起始日期:</label>
    <div class="layui-input-inline">
      <input id="beginDate" placeholder="起始日期" autocomplete="off" class="layui-input">
    </div>
    <div class="xing">*</div>
  </div>
  <div class="layui-inline">
    <label class="layui-form-label">结束日期:</label>
    <div class="layui-input-inline">
      <input id="endDate" placeholder="终止日期" autocomplete="off" class="layui-input">
    </div>
    <div class="xing">*</div>
  </div>
  <div class="layui-inline">
    <div style="margin-left: 0;min-height: 45px">
      <button class="layui-btn" onclick="asset_add_search_opr()">点击查询</button>
    </div>
  </div>
</div>

<div style="padding:0 10px">
	<table id="demo"></table>
</div>

<script>
var table = ''
var laydate = ''
var $ = ''

layui.use(['table','jquery','laydate'], function(){
  table = layui.table;
  laydate = layui.laydate
  $ = layui.jquery

  let beginDate = one_month_ago()
  let endDate = getToday()

  laydate.render({
    elem: '#beginDate',
    value: beginDate
  });

  laydate.render({
    elem: '#endDate',
    value: endDate
  })

  table.render({
    elem: '#demo'
    ,url: '/b/general/get_add_data' //数据接口
    ,limit: 50
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'a_cd', title: '资产番号', width:100}
      ,{field: 'a_type_cd', title: '型号', width:100}
      ,{field: 'a_fuselage_cd', title: '机身号', width:150}
      ,{field: 'a_main_cd', title: '主体资产番号', width:150} 
      ,{field: 'a_serial_cd', title: '主体序列号', width: 150}
      ,{field: 'a_location_cd', title: '存放位置', width: 120}
      ,{field: 'a_status', title: '状态', width: 80}
      ,{field: 'a_shelf_cd', title: '货架号', width: 120}
      ,{field: 'a_operate_time', title: '操作时间', width: 150}
      ,{field: 'a_mark', title: '备注', width: 100}
      ,{field: 'a_operator', title: '操作员', width: 80}
    ]],
    where:{
      beginDate:beginDate,endDate:endDate
    }
  });
});

function asset_add_search_opr(){
   
}

</script>
{% endblock %}