{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
  .v_hid{visibility: hidden}
</style>
<fieldset class="layui-elem-field layui-field-title atitle">
  <legend>借用设备归还查询</legend>
</fieldset>

<div class="layui-form" style="width:1200px">
	<div class="layui-form-item">
	  <div class="layui-inline">
	    <label class="layui-form-label">起始日期:</label>
	    <div class="layui-input-inline">
	      <input id="startDate" placeholder="起始日期" autocomplete="off" class="layui-input">
	    </div>
	    <div class="xing">*</div>
	  </div>
	  <div class="layui-inline">
	    <label class="layui-form-label">结束日期:</label>
	    <div class="layui-input-inline">
	      <input id="endDate" placeholder="终止日期" autocomplete="off" class="layui-input">
	    </div>
	    <div class="xing">*</div>
	  </div>
	</div>

	<div class="layui-form-item">
	  <div class="layui-inline">
	    <label class="layui-form-label">资产番号:</label>
	    <div class="layui-input-inline">
	      <input id="a_cd" placeholder="请输入资产番号" autocomplete="off" class="layui-input">
	    </div>
	    <div class="xing v_hid">*</div>
	  </div>

	  <div class="layui-inline">
	    <div style="margin-left: 110px;min-height: 45px;">
	      <button class="layui-btn" onclick="get_loan_revert_data()" style="width:190px">点击查询</button>
	    </div>
	  </div>

	  <div class="layui-inline">
		    <div style="margin-left: 10px;min-height: 45px;">
		      <button class="layui-btn" onclick="loan_revert_export()" style="width:190px">数据导出</button>
		    </div>
	  </div>

	</div>
</div>

<div style="padding:0 10px">
	<table id="demo"></table>
</div>

{#% ifequal request.session.dept_name '设备购买部' %#}

{#% endifequal %#}

<script>
var table = ''
var laydate = ''
var $ = ''
var layer = ''
var tableIns = ''

var is_hidden = false
var authority_level = '{{request.session.authority_level}}'
var dept_name = '{{request.session.dept_name}}'
if(authority_level != 1 && dept_name != '设备购买部'){
	is_hidden = true
}

layui.use(['table','jquery','laydate', 'layer'], function(){
  table = layui.table;
  laydate = layui.laydate
  $ = layui.jquery
  layer = layui.layer

  let startDate = one_month_ago()
  let endDate = getToday()

  laydate.render({
    elem: '#startDate',
    value: startDate
  });

  laydate.render({
    elem: '#endDate',
    value: endDate
  });
});

//借用归还查询
function get_loan_revert_data(){
	/*
	let a_cd = $('#a_cd').val()
	let a_fuselage_cd = $('#a_fuselage_cd').val()
	let a_type_cd = $('#a_type_cd').val()
	let beginDate = $('#beginDate').val()
	let endDate = $('#endDate').val()

	if(beginDate == '' || endDate == ''){
		layer.alert('起始日期或结束日期不能为空!',{title:'温馨提示',icon:7})
	}else{
		data = {
			a_cd:a_cd,a_fuselage_cd:a_fuselage_cd,a_type_cd:a_type_cd,
			beginDate:beginDate,endDate:endDate
		}
		tableIns.reload({
	        where: data,
		    //page: {
	        //	curr: 1 //重新从第 1 页开始
		    //}
		});
	}
	*/

	let a_cd = $('#a_cd').val()
	let startDate = $('#startDate').val()
	let endDate = $('#endDate').val()

	tableIns = table.render({
	    elem: '#demo'
	    ,url: '/nstd/general/get_loan_revert_data' //数据接口
	    ,limit: 100
	    ,page: true //开启分页
	    ,cols: [[ //表头
	       {type: 'numbers', title: '序号', width:100}	
	      ,{field: 'a_cd', title: '资产番号', width:100}
	      ,{field: 'a_self_cd', title: '编号', width:100}
	      ,{field: 'a_name', title: '名称', width:180}
	      
	      ,{field: 'a_type_cd', title: '资产型号', width:100}
	      ,{field: 'a_fuselage_cd', title: '机身号码', width: 100}
	      ,{field: 'a_amount', title: '单位', width: 60}

	      ,{field: 'a_price', title: '价格', width: 100, hide: is_hidden}
	      ,{field: 'a_currency', title: '币种', width: 80, hide: is_hidden}
	      ,{field: 'a_out_time', title: '出厂时间', width: 120}

	      ,{field: 'a_purchase_time', title: '购入时间', width: 120}
	      ,{field: 'a_brand', title: '品牌', width: 120}
	      ,{field: 'a_supplier', title: '供应商', width: 180}

		  ,{field: 'a_action_state', title: '资产状态', width: 180}
		  ,{field: 'a_action_loc', title: '位置代码', width: 180}
	      ,{field: 'a_record_time', title: '记录时间', width: 160}

	      ,{field: 'a_opr_user', title: '操作员', width: 120}
	      ,{field: 'a_model', title: '机种', width: 120}
	      ,{field: 'a_budget', title: '预算号', width: 120}

	      ,{field: 'a_referendum', title: '请示书号', width: 120}
	      ,{field: 'a_po_cd', title: 'PO号', width: 120}
	      ,{field: 'a_sap_cd', title: 'SAP番号', width: 120}

	      ,{field: 'a_project_cd', title: '工程代码', width: 120}
	      ,{field: 'a_funds_type', title: '经费类别', width: 120}
	      ,{field: 'a_action_remark', title: '备注信息', width: 120}
	    ]],
	    where:{
	    	a_cd: a_cd, startDate: startDate, endDate: endDate
	    }
  	});

}

//导出借用后归还数据
function loan_revert_export(){
	var a_cd = $('#a_cd').val()
    var startDate = $('#startDate').val()
    var endDate = $('#endDate').val()
    var a = document.createElement('a')
    var url = `/nstd/general/loan_revert_export?a_cd=${a_cd}&startDate=${startDate}&endDate=${endDate}`
    a.href = url
    a.click()
}

</script>
{% endblock %}
