{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
  .v_hid{visibility: hidden}
  .type{
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  	text-align: center;width:150px;height:88px;
  }
  .type:hover{background-color: #009688;color:#fff;border:1px solid #fff;}
  .title{height:35px;line-height:35px;border-bottom: 1px solid #eee}
  .content{height:53px;line-height:53px}
  .mart30{margin-top:30px}
  .marl30{margin-left:30px}
  .w190{width:190px}
  .m_h45{min-height: 45px}
</style>
<fieldset class="layui-elem-field layui-field-title atitle">
  <legend>总账信息查询</legend>
</fieldset>

<div style="padding-left:40px">
  <div class="layui-row">
    <div class="layui-col-md2 type">
        <div class="title">在库</div>
        <div class="content" id="instorage"></div>
    </div>
    <div class="layui-col-md2 type marl10">
        <div class="title">已支给</div>
        <div class="content" id="zj"></div>
    </div>
    <div class="layui-col-md2 type marl10">
        <div class="title">在线</div>
        <div class="content" id="online"></div>
    </div>
    
    <div class="layui-col-md2 type marl10">
        <div class="title">已归还供应商</div>
        <div class="content" id="loan_revert"></div>
    </div>
    <div class="layui-col-md2 type marl10">
        <div class="title">已销售</div>
        <div class="content" id="sale"></div>
    </div>
    <div class="layui-col-md2 type marl10">
        <div class="title">已报废</div>
        <div class="content" id="scrap"></div>
    </div>
  </div>
</div>

<div class="layui-form mart30">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">起始日期:</label>
      <div class="layui-input-block">
        <input id="startDate" placeholder="请选择起始日期" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">结束日期:</label>
      <div class="layui-input-block">
        <input id="endDate" placeholder="请选择结束日期" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
</div>

{% ifequal request.session.dept_name '设备购买部' %}
  <div class="layui-form-item mart30 marl30">
    <div class="layui-inline">
      <div class="marl10 m_h45">
        <button class="layui-btn w190" onclick="total_export()">数据导出</button>
      </div>
    </div>
  </div>
{% else %}
  {% ifequal request.session.authority_level 1 %}
    <div class="layui-form-item mart30 marl30">
      <div class="layui-inline">
        <div class="marl10 m_h45">
          <button class="layui-btn w190" onclick="total_export()">数据导出</button>
        </div>
      </div>
    </div>
  {% endifequal %}
{% endifequal %}

<script>
var $ = ''
var layer = ''

layui.use(['table','jquery','laydate', 'layer'], function(){
  table = layui.table;
  $ = layui.jquery
  layer = layui.layer
  laydate = layui.laydate
  
  let data = '{{ data }}'.replace(/&#39;/g,'\"')
  data = JSON.parse(data)
  $('#instorage').text(data.instorage)
  $('#zj').text(data.zj)
  $('#loan_revert').text(data.loan_revert)
  $('#online').text(data.online)
  $('#sale').text(data.sale)
  $('#scrap').text(data.scrap)

  laydate.render({
    elem: '#startDate',
    type: 'date'
  });

  laydate.render({
    elem: '#endDate',
    type: 'date'
  });

});

//导出添加数据
function total_export(){
  var startDate = $('#startDate').val()
  var endDate = $('#endDate').val()
  var a = document.createElement('a')
  var url = `/nstd/general/total_export?startDate=${startDate}&endDate=${endDate}`
  a.href = url
  a.click()
}

</script>
{% endblock %}
