{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% csrf_token %}
<!-- 设备支给信息Excel数据展示 -->
<script type="text/html" id="excel_operation">
  <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="excel_del">删除</button>
</script>

<div id="uploadwrap" style="padding:0 10px">
  <table lay-even lay-skin="line" lay-filter="excel_filter" id="uploadtable"></table>
  <button class="layui-btn" onclick="upload_zj()">
	<i class="layui-icon">&#xe67c;</i>点击上传
  </button>
</div>

<script>
	var table = ''
	var layer = ''
	var $ = ''
	var tmp_file = '{{ tmp_file }}'
	var hasUpload = false

	layui.use(['jquery','layer','table'],function(){
		table = layui.table
		layer = layui.layer
		$ = layui.jquery

		table.render({
	      elem: '#uploadtable'
	      ,page:false
	      ,url: '/b/get_zj_csv_data' //数据接口
	      ,cols: [[ //表头
	      	{type:'numbers', title: '序号', width:60}
	        ,{field: 'a_cd', title: '资产番号', width:100}
	        ,{field: 'a_type_cd', title: '型号', width:100}
	        ,{field: 'a_main_cd', title: '主体资产号',width:100, edit: true}
	        ,{field: 'a_main_serial', title: '主体序列号',width:130, edit: true}
	        ,{field: 'a_zj_object', title: '被支给方',width:120, edit: true}
	        ,{field: 'a_zj_dept', title: '当前部门',width:120, edit: true}
	        ,{field: 'a_action_state', title: '资产状态',width:90, edit: true}
			,{field: 'a_action_remark', title: '备注信息',width:200, edit: true}
			,{field: 'a_action_type', title: '行为状态',width:100}
	        ,{title:'操作',width:80, align:'center', toolbar:'#excel_operation'}
	      ]],
	      where: {
	        tmp_file:tmp_file
	      }
	    });

		//删除当前行
		table.on('tool(excel_filter)', function(obj){
		    let data = obj.data;  //获取当前行数据
		    let layEvent = obj.event;
		    let tr = obj.tr;

		    if(layEvent == 'excel_del'){
		      layer.confirm('确认要删除该行吗？',{icon:3},function(index){
		        obj.del();
		        layer.close(index);
		        //向服务端发送删除指令
		        
		      });
		    }
		});
		layer.msg('请仔细核对数据无误后提交')
	});

	//获取编辑后的表格数据
	function get_all_table_data(){
		let table_data = []
		let flag = true
		$('#uploadwrap tbody tr').each(function(index){
			let tmp_dict = {}
			tmp_dict['a_cd'] =  $(this).find('td[data-field="a_cd"]').text()
			tmp_dict['a_main_cd'] = $(this).find('td[data-field="a_main_cd"]').text()
			tmp_dict['a_main_serial'] = $(this).find('td[data-field="a_main_serial"]').text()
			tmp_dict['a_zj_object'] = $(this).find('td[data-field="a_zj_object"]').text()
			tmp_dict['a_zj_dept'] = $(this).find('td[data-field="a_zj_dept"]').text()
			tmp_dict['a_action_state'] = $(this).find('td[data-field="a_action_state"]').text()
			tmp_dict['a_action_remark'] = $(this).find('td[data-field="a_action_remark"]').text()
			a_action_type = $(this).find('td[data-field="a_action_type"]').text()
			if(a_action_type != '入库' && a_action_type != '退库' && a_action_type != '支给归还'){
				alert(`第${index + 1}行资产不属于在库状态!`)
				flag = false
				return false
			}else if(tmp_dict['a_main_cd'] == ''){
				alert(`第${index + 1}行主体资产号不能为空!`)
				flag = false
				return false
			}else if(tmp_dict['a_main_serial'] == ''){
				alert(`第${index + 1}行主体序列号不能为空!`)
				flag = false
				return false
			}
			table_data.push(tmp_dict)
		});
		if(flag){
			return table_data
		}else{
			return []
		}
	}

	//点击上传按钮开始上传
	function upload_zj(){
		if(hasUpload){
			alert('您已成功上传一次，不能重复上传!')
			return
		}
		let csrf = $('input[name="csrfmiddlewaretoken"]').val()
		table_data = get_all_table_data()
		if(table_data.length == 0){
			return
		}
		$.ajax({
			url: '/b/basefunc/upload_excel_zj',
			type: 'post',
			dataType: 'json',
			data: {table_data:JSON.stringify(table_data),csrfmiddlewaretoken:csrf},
			success: function(data){
				if(data.result){
					alert('批量上传成功,上传数量:' + data.num)
					hasUpload = true
				}else{
					alert(data.msg)
				}
			},
			error: function(xmlHq,status,errorThrows){
				console.log(errorThrows)
			}
		});
	}

</script>

{% endblock %}
